
MGM.xcodeproj/project.xcworkspace/xcuserdata/karlenkishmiryan.xcuserdatad/UserInterfaceState.xcuserstate

MGM/Base.lproj/Main.storyboard

MGM.xcodeproj/project.xcworkspace/xcuserdata/karlenkishmiryan.xcuserdatad/UserInterfaceState.xcuserstate
